<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>{% block title %}LMS{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><button><a href="{{ url_for('dashboard') }}">Dashboard</a></button></li>
                    <li><button><a href="{{ url_for('logout') }}">Logout</a></button></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="alert alert-{{ message[1] }}">{{ message[0] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
